<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q stats</title>
</head>
<body>
    {% if refresh == "ok" %}
    <em>Stats refreshed.</em>
    {% elif refresh == "toosoon" %}
    <em>Too recently refreshed, wait 5 minutes.</em>
    {% endif %}

    <p>{{stat_string|replace("\n","<br>"|safe)}}</p>

    <form method="post" action=""><button type="submit" name="refresh" value="refresh">Refresh stats</button></form>

    <a href="https://qq.esmgquadrivium.nl/esmgq/q-stat">Bekijk/wijzig code</a>
</body>
</html>
